{% trans %}
<p>
  The San Francisco Bay Area Rapid Transit District (BART) is committed to transparency, efficiency, collaboration
  and an open government. To support these objectives, the Board of Directors unanimously approved an Open Data Policy
  <a href="https://bart.gov/open">https://bart.gov/open</a> instructing the Chief Information Officer (CIO) to develop
  and implement practices that:
</p>
<p class="letter-list">
  <li>a)	Proactively make public data freely available in open formats;</li>
  <li>b)	Consolidate that data onto an Open Data Portal and keep it up to date;</li>
  <li>c)	Employ open source software solutions in Open Data delivery, when possible;</li>
  <li>d)	Safeguard sensitive and protected information; and Encourage innovative uses.</li>
</p>
<p>
  Under the CIO’s leadership, staff has diligently worked to execute those directives, and has made significant progress
  with the District’s public Open Data Portal. On May 25, 2018, the new Portal was launched to the public
  at <a href="https://data.bart.gov">https://data.bart.gov</a>. It included more than 50 data sets, many with visualizations
  and interactive maps, in 12 categories:
</p>
<p>
  <ul>
    <li><b>Customer</b> (Station Profile Study, Customer Complaints, Customer Satisfaction Survey)</li>
    <li><b>Economy</b> (Housing and Jobs Data)</li>
    <li><b>Environment</b> (Carbon and Renewable Share, Access Modes)</li>
    <li><b>Equity</b> (Minority Ridership Compared to Region)</li>
    <li><b>Finance</b> (Employee Reimbursements, Tax Revenue and More)</li>
    <li><b>Performance</b> (Customer On-time, Car, Elevator and Escalator Availability and More)</li>
    <li><b>Police</b> (Allegations Received by OIPA, Recommended Discipline and More)</li>
    <li><b>Procurement</b> (Agreements Under and Over $100,000)</li>
    <li><b>Ridership</b> (Weekday, Monthly and Annual Exits)</li>
    <li><b>Safety</b> (Crimes Against Persons Per Million Trips)</li>
    <li><b>Workforce</b> (Turnover Rate in Key Positions)</li>
    <li><b>Other</b> (Art Assets, Bike Rack / Locker Locations, Priority Development Areas and More)</li>
  </ul>
</p>
<p>
  As directed by the policy, BART data published on the Portal is placed in the public domain.
</p>
<p>
  To house the District’s public data, the CIO selected a solid, extensible open-source data management solution used by
  most major governments in the U.S., Canada and Europe. The new portal is not only a data store and file repository, it features:
</p>
<p>
  <ul>
    <li>A powerful Application Programming Interface (API) that enables automated data sharing.</li>
    <li>Individual data views, like charts and graphs, can be created and easily embedded on external websites.</li>
    <li>Advanced geospatial features for sophisticated mapping presentations, an intuitive interface for data managers, a rich charting and visualization engine and comprehensive search and discovery capabilities.</li>
  </ul>
</p>
<p>
  For the launch, staff reviewed customer feedback, records requests and other communications from the public
  to create an inventory of ‘high value’ data categories. More than a dozen internal data coordinators helped identify and
  select data sets, review data visualizations, draft narrative data descriptions, and define lightweight data exchange
  processes to help keep the Portal up-to-date for the initial launch.
</p>
<p>
  Looking ahead, the District’s new Open Data Portal will host a dynamic data collection requiring continual updates.
  This is a phased, multi-year effort that in which new data sets will be continually identified. Staff will also work
  to keep Portal data current and develop integration solutions to automate enterprise data discovery, transformation and
  migration to the Portal. OCIO will also work with internal stakeholders to optimize business processes around the
  creation of structured data appropriate for release on the Portal.
</p>
{% endtrans %}
