{% ckan_extends %}

{% block footer_content %}
  <div class="site-footer-container">
    <div class="row-fluid">
      <div class="pull-left">
        <a class="agency-name" href="http://bart.gov/">BART</a>
      </div>
      <div class="pull-right" style="text-transform:uppercase;">
        <a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About {0}').format(g.site_title) }}</a>
      </div>
    </div>
    <div class="row-fluid" style="margin-top:0.5rem;">
      <div class="pull-left">
        {{ h.bart_theme_copyright() | safe }}
      </div>
      <div class="pull-right other-links">
        <a href="http://bart.gov/">Terms of Use</a>
        <a href="http://www.bart.gov/siteinfo/privacy">Privacy Policy</a>
        <a href="http://bart.gov/">Open Data Policy</a>
        <a href="http://www.bart.gov/siteinfo/contact">Contact Us</a>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12 footer-links">
      <div class="pull-left">
        <a href="http://bart.gov/">BART</a>
      </div>
      <div class="hr"></div>
      <div class="pull-left">
        {{ h.bart_theme_copyright() | safe }}
      </div>
      <div class="pull-right">
        <a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About {0}').format(g.site_title) }}</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer_debug %}
  {% if g.debug %}
    {% include 'snippets/debug.html' %}
  {% endif %}
{% endblock %}
