<div role="main">
  <div class="homepage-banner-overlay">
    <div class="container">
      <div class="inner adjusted-content-size">
        <div class="content">
          <h1 class="wide">Your Source for BART Open Data</h1>
          <h1 class="narrow">Your Source<br>for BART Open Data</h1>
          <p>
            As part of our ongoing commitment to transparency, accountability and citizen engagement,
            the San Francisco Bay Area Rapid Transit District (BART) has designed this Open Data Portal
            for you to explore, visualize, download and build new things with BART public data.
          <p>
        </div>
      </div>
    </div>
  </div>
  <div class="homepage-banner">
    <!-- train image here -->
  </div>
  <div class="container">
    <div class="topics adjusted-content-size">
      <h1 class="topics-header">Data Topics</h1>
      <div class="topic-wrapper">
        {% for group in h.bart_theme_all_groups() %}
          {% set type = group.type or 'group' %}
          {% set url = h.url_for(type ~ '_read', action='read', id=group.name) %}
          {% set title = h.get_translated(group, 'title') or group.display_name %}
          {% set titleHtml = title.replace(" ", "<br>") | safe %}
          {% set datasets = h.bart_theme_get_json(group['datasets']) %}
          <div class="topic" data-datasets="{{ datasets }}">
            <div class="topic-container">
              <img data-url="{{ url }}" src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ group.name }}">
              <div class="topic-title">{{ titleHtml }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="featured-wrapper">
    <div class="container">
      <div class="featured adjusted-content-size">
        <h1 class="featured-header">Strategic Plan Indicators</h1>
        <div class="pull-left text">
          <!-- BART tracks hundreds of performance measures at all levels of the organization. The most important measures, are organized into eight Strategic Plan Goals. The percentage of satisfied customers with BART has dropped recently due to reliability problems,
          crowding, and other issues. Similarly, on-time performance has fallen recently due to an aging infrastructure, new safety rules, and increased ridership. There are multiple initiatives such as planned system investments, including new
          train cars, escalator/elevator overhauls, and implementation of Measure RR projects should help to improve customer service over time. Click here, to learn more on the eight Strategic Plan Goals. -->
          BART’s Board of Directors established eight Strategic Plan Goals that guide the agency’s decision-making,
          such as Customer Experience, Safety, and System Performance.  For each goal area, BART has identified one or more indicators,
          such as customer satisfaction and on-time performance.  
          <br>
          Click <a href="http://qa.bart.gov/kpi" title="http://qa.bart.gov/kpi">here</a> to view historic trends
          and compare BART’s progress against the targets for each goal area and indicator.
        </div>
        <div class="pull-right image">
          <a href="http://qa.bart.gov/kpi" title="http://qa.bart.gov/kpi"><img src="/kpi-icon.png"></a>
        </div>
      </div>
    </div>
  </div>
</div>
