/*
#0196cd - topic icon background
#0f3658 - dark blue background
#eee    - text on both
*/
body, [role="main"], .main {
  color: #1e1e1e;
  background-image: none;
  background-color: #fff !important;
  font-family: Arial,Helvetica,sans-serif;
}

.btn-navbar { /* to expand menu button when window is reduced */
  display: none !important;
}

#wrapper {
  /* for sticky footer -- see: https://css-tricks.com/couple-takes-sticky-footer */
  min-height: calc(100vh - 5.35em);
  background-color: #fff !important;
}

.wrapper {
  border: none;
  box-shadow: none;
  background-color: #fff !important;
  background-image: none !important;
}

header.module-content {
  background-color: #fff !important;
}
.module-content .image {
  background-color: #0196cd;
}

.masthead {
  height: 60px;
  min-height: 60px;
  background-color: #2a2919;
}
.masthead .debug { /* hide controller and action names */
  display: none;
}
.masthead .container {
  padding: 0 !important;
}
.masthead .header-image a.title {
	display: inline-block;
	font-weight: bold;
  color: #eee;
  font-size: 1rem;
  position: absolute;
  bottom: 6px;
  left: 4.25rem;
}
.masthead .header-image a:hover {
  text-decoration: none;
}
.masthead .header-image a.logo {
  float: left;
  position: relative;
  top: 8px;
  width: 60px;
  height: 60px;
  background-size: 60px;
  background-image: url('/bart-header-logo.png');
  background-repeat: no-repeat;
}
.masthead .navigation {
  position: relative;
  bottom: -28px;
}
.masthead .navigation a {
  color: #ddd !important;
}
.masthead .navigation a:hover {
  color: #eee !important;
}
.masthead .nav-collapse {
  padding-top: 5px;
}

#field-sitewide-search {
  font-size: 0.8rem;
  border-radius: 15px;
}

.masthead .site-search {
  margin-top: 4px;
  position: relative;
  bottom: -15px;
}
.masthead .site-search input {
  background-color: #ddd;
}
.masthead .site-search input:hover {
  background-color: #eee;
}
.masthead .container {
  padding: 0.5rem 0;
}
.navbar .nav > li > a {
  border: 1px solid #eee !important;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  color: #1e1e1e !important;
  background-color: #ddd !important;
  border: 1px solid #aaa !important;
}
.navbar .nav > li.active > a {
  color: #fff !important;
  background-color: #206b82 !important;
}

/* Home page */

.homepage [role="main"] {
  padding-top: 0;
  background-color: #fff !important;
}

.homepage-banner {
  height: 327px; /* full size */
  xxx-height: 260px; /* for Satinder, so topic icons are above the fold */
  background-size: 100%;
  background-position: top left;
  background-image: url('/bart_banner.png');
}

.homepage-banner-overlay {
  position: absolute;
  top: 135px;
  width: 100%;
}
.homepage-banner-overlay .inner {
  margin: 0 auto; /* to align with .topics etc.. */
}
.homepage-banner-overlay .content {
  z-index: 999;
  width: 540px;
  padding: 15px 20px;
  font-size: 12.8px;
  color: #eee;
  background-color: #0f3658;
  opacity: 0.9;
}
.homepage-banner-overlay .content h1 {
  margin-top: 0;
  line-height: 1.2;
}
.homepage-banner-overlay .content h1.narrow {
  display: block;
}
.homepage-banner-overlay .content h1.wide { /* for smaller screens */
  display: none;
}
.homepage-banner-overlay .content p {
  padding: 0;
  margin: 0
}

/* Topics */

.homepage .topics {
  background-color: #fff;
  margin: 0 auto;
  padding-top: 1rem !important;
  padding-bottom: 0 !important;
}
.homepage .topic {
  position: relative; /* so we can make z-index: 1 when hovering over another topic */
  display: inline-block;
  margin-right: 13px;
  width: 115px;
  height: 96px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 1rem;
  color: #fff;
  background-color: #0196cd;
  font-size: 12.8px;
}
.homepage .topic-container {
  z-index: 999; /* so that arrow is under the box */
  padding: 10px 4px;
  position: relative;
  background-color: inherit;
}
.homepage .topic-title { /* applies to topic icons */
  margin-top: 5px;
  text-align: center;
}
.homepage h1.topics-header { /* applies to "Data Topics" */
  font-weight: bold;
  text-align: left;
  font-size: 2rem;
  margin: 0;
  padding: 0.75rem 0 1rem 0;
}
.homepage .topic img {
  max-height: 50px;
}
.behind-other-topics {
  opacity: 0.6;
  z-index: 1 !important;
}

.dataset-menu-container {
  position: relative;
  height: auto;
  min-height: 100%;
  text-align: left;
  z-index: 999;
  /* width set in bart_theme.js */
}
/* http://www.cssarrowplease.com/ */
.dataset-menu-container:before { /* left arrow */
  content: " ";
  /* pointer-events: none; */ /* including this will cause the menu to be hidden when we hover over the arrow */
  position: absolute;
  top: 50%;
  right: 100%;
  width: 0;
	height: 0;
	border: solid transparent;
	border-color: transparent;
	border-right-color: #0196cd;
	border-width: 69px;
	margin-top: 0;
  z-index: 999;
}
.dataset-menu.left-menu .dataset-menu-container:before { /* right arrow */
  left: 100%;
	border: solid transparent;
	border-left-color: #0196cd;
	border-width: 69px;
}
.dataset-menu-container > div:nth-of-type(1) { /* target only first menu item column */
  padding-left: 0.9rem;
}
.dataset-menu-container ul {
  margin-bottom: 0;
}

.dataset-menu {
  position: absolute;
  list-style: none;
  border: 1px solid #aaa;
  border-top: 0;
  background-color: aliceblue;
  z-index: 2;
  border-top: 1px solid #aaa;
  background-color: #0196cd;
  min-height: 140px;
  width: auto;
  min-width: 10rem;
}
.dataset-menu-item {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.dataset-menu ul {
  list-style: none;
  margin-left: 0;
  display: inline-block;
  max-width: 10rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
}
.dataset-menu li {
  line-height: 1rem;
  padding-bottom: 1rem;
}
.dataset-menu li:last-child {
  padding-bottom: 0.25rem;
}
.dataset-menu a {
  color: #fff;
}
.dataset-menu-item.unfocused {
  opacity: 0.6;
}


/* Featured section */

.featured-wrapper {
  margin: 30px 0;
  padding: 30px 0;
  background-color: #0f3658;
}
.featured {
  color: #eee;
  margin: 0 auto;
}
.featured-header {
  font-weight: bold;
  text-align: left;
  font-size: 2rem;
  margin: 0;
}
.featured .text {
  margin-left: 0;
  font-size: 12.8px; /* hardcoded */
  width: 68%; /* so that words break closest to the pdf (but doesn't leave room for icon) */
}
.featured .image {
  position: relative;
  top: -15px;
  width: 20%;
}
.featured .image a {
  margin: 0;
}
.site-footer-container {
  margin: 0 auto;
}
.site-footer {
  overflow: hidden;
  color: #eee;
  height: auto;
  padding: 1rem 0;
  min-height: auto;
  font-size: 12.8px;
  font-weight: normal;
  background-color: #0f3658;
}
.site-footer .attribution { /* no space between <hr> tags */
  margin: 0;
}
.site-footer .agency-name {
  color: #eee;
  font-weight: bold;
  font-size: 1.25rem;
}
.site-footer .other-links a {
  padding-right: 2rem;
}
.site-footer .other-links a:last-child {
  padding-right: 0;
}

.site-footer-container {
  margin: 0 auto;
}

.site-footer {
  color: #eee;
  height: auto;
  padding: 1rem 0;
  min-height: auto;
  font-size: 12.8px;
  font-weight: normal;
  background-color: #0f3658;
  overflow: hidden;
}
.site-footer .attribution { /* no space between <hr> tags */
  margin: 0;
}
.site-footer .agency-name {
  color: #eee;
  font-weight: bold;
  font-size: 1.25rem;
}
.site-footer .other-links a {
  padding-right: 2rem;
}
.site-footer .other-links a:last-child {
  padding-right: 0;
}

/* Topics list page */

.media-item .media-image {
  max-height: 50px;
}

.media-item .media-heading, .media-item .count {
  font-size: 0.8rem;
}

/* Hide Create/Update/Insert on CKAN Data API dialog */

#collapse-endpoints tr:nth-of-type(1),
#collapse-endpoints tr:nth-of-type(2) {
  display: none;
}

/* from Bootstrap 3 */

.list-unstyled {
  margin-left: 0; /* my mod */
  padding-left: 0;
  list-style: none;
}

/* Media Breakpoints */

@media (min-width: 980px) { /* bootstrap media breakpoint (6 topics per row) */
  /* container width: 940px */
  .adjusted-content-size {
    width: 788px;
  }
}

@media (min-width: 768px) and (max-width: 979px) { /* bootstrap media breakpoint (5 topics per row) */
  /* container width: 724px */
  .adjusted-content-size {
    width: 656px;
  }
  .masthead .section {
    padding-right: 1rem;
    float: left;
  }
  .masthead .site-search {
    display: block;
  }
  .masthead .header-image a.logo {
    left: 1rem;
  }
  .masthead .header-image a.title {
    left: 5.25rem;
  }
  .homepage-banner {
    height: 230px;
  }
  .homepage-banner-overlay {
    top: 110px;
  }
  .homepage-banner-overlay .content {
    height: 80px;
  }
  .homepage-banner-overlay .content h1.narrow {
    display: none;
  }
  .homepage-banner-overlay .content h1.wide {
    display: block;
  }
  .homepage-banner-overlay .content p {
    display: none;
  }
  .site-footer .other-links a {
    padding-right: 2px;
  }
}

@media (max-width: 767px) { /* bootstrap media breakpoint (4 topics per row) */
  /* container width: auto; */
  body {
    /* bootstrap override */
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .adjusted-content-size {
    width: 524px;
  }
  .masthead .section {
    float: left;
    padding-right: 2rem;
  }
  .masthead .header-image a.logo {
    left: 2rem;
  }
  .masthead .header-image a.title {
    left: 6.25rem;
  }
  .masthead .site-search {
    display: block;
  }
  .homepage-banner {
    height: 150px;
  }
  .homepage-banner-overlay {
    top: 66px;
  }
  .homepage-banner-overlay .content {
    height: 47px;
  }
  .homepage-banner-overlay .content h1.narrow {
    display: none;
  }
  .homepage-banner-overlay .content h1.wide { /* for smaller screens */
    display: block;
  }
  .homepage-banner-overlay .content p {
    display: none;
  }
  .featured .image {
    top: 0;
  }
}

@media (max-width: 610px) {
  .masthead .site-search {
    display: none;
  }
  .homepage-banner {
    height: 100px;
  }
  .homepage-banner-overlay {
    display: none;
  }
  .featured {
    width: 100%;
    padding: 0 10px;
  }
  .featured .text {
    width: 98%;
  }
  .featured .image {
    display: none;
  }
}
